---
title: Posts
published: true
listed: true
position: 1
---
{% extends parent %}

{% block main %}
  <div class="row posts">
    {% paginate contents.posts by 12 %}
      {% for post in paginate.collection %}
        <div class="post-listing col-sm-6 col-md-4">
          <div class="thumbnail">
            {% if post.featured_image.url %}
              <img src="{{ post.featured_image.url | resize: '400x200#' }}" alt="{{ post.title | escape }}">
            {% endif %}
            <div class="caption">
              <h3>{{ post.title | escape }}</h3>
              <div class="teaser">{{ post.teaser }}</div>
              <p>
                <a href="/posts/{{ post._slug }}" class="btn btn-primary">
                  {{ 'read_more' | translate }}
                </a>
              </p>
            </div>
          </div>
        </div>
        {% cycle  '', '<div class="clearfix visible-sm">&nbsp;</div>' %}
        {% cycle '', '', '<div class="clearfix hidden-sm hidden-xs">&nbsp;</div>' %}
      {% endfor %}
      {% include 'pagination', paginate %}
    {% endpaginate %}
  </div>
{% endblock %}

